body {
    font-family: "Roboto", sans-serif !important;
    max-width: 1920px;
    font-size: 17px !important;
    color: #99928b;
    line-height: 1.5 !important;
    margin: 0 auto !important;
}

h1 {
    font-size: 2.5em !important;
    font-weight: bold !important;
}

h3 {
    font-size: 1.5em !important;
    font-weight: bold !important;
}

.header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.header-img {
    flex-grow: 1;
    text-align: center;
    background-image: url(../imgs/foto-header.png);
    background-size: cover;
    background-position: center;
}

.header-img h1 {
    position: relative;
    top: 60%;
    color: white;
    text-shadow: 3px 3px 9px black;
}

.header-text {
    flex-grow: 0;
    text-align: center;
}

a {
    font-style: normal !important;
    color: #359c9c !important;
    padding: 5px !important;
    text-decoration: none;
    font-size: 1.1em !important;
    font-weight: bold !important;
}

.link-container {
    margin-top: 28px;
}

.link-container a {
    border-top: solid 1px #ccc;
    padding-top: 15px !important;
}

.container {
    padding: 1.8em;
}

.palavra-ceo {
    background-color: #f8f8f8;
    flex-direction: row;
}

@media screen and (min-width: 768px) {
    .md-50 {
        min-width: 50% !important;
    }
    .md-25 {
        min-width: 25% !important;
    }
    .md-33 {
        min-width: 33% !important;
    }
    .container {
        padding: 2.8em;
    }
    
}

@media screen and (max-width: 767px) {    
    .sm-100 {
        min-width: 100% !important;
    }
}

.palavra-ceo p {
    text-align: justify;
}

.mr-50 {
    margin-right: 50px;
}

.section-titulo {
    margin-bottom: 30px;
}

.section-titulo p {
    font-size: 1.4em;
    font-style: italic;
    color: #f9a90e;
}

.flex-1 {
    flex-grow: 1;
    flex-basis: 0;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.text-center {
    text-align: center;
}

.flex-center {
    justify-content: center;
}

.flex-space-between {
    justify-content:  space-between;
}
.flex-basis-0 {
    flex-basis: 0;
}

.p-15 {
    padding: 15px;
}

.nosso-time {
    background-color: #f8f8f8;
}

.icones {
    margin-top: 30px;
}

.icones h4 {
    padding: 15px;
}

h4 {
    font-size: 1.3em !important;
    font-weight: bold !important;
}

.text-justify {
    text-align: justify;
}